@import '../abstract/variables';

header {
    #main-section {
        background-image: url('../images/background.png');
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        align-items: center;

        .container-box {

            margin: 0 6em;

            .header-title {
                font-weight: 700;
                font-size: 28px;
            }
    
            .header-img {
                margin: 1em 0 2em 0;
            }
    
            .container-button {
                @include container-button;
                
            }

            .button-animation {
                @include hover-button;
            }
    
            .secondary-button {
                background-color: transparent;
                border: 2px solid $main-white;
                transition: color .4s ease-out,
                            border .4s ease-out;
                &:hover {
                    color: $button-blue;
                    border: 2px solid $button-blue;
                }
            }
    
            .container-warning {
                font-size: 12px;
                color: $secondary-gray;
            }
        }        
    }

    .container {
        @include container;
    }
}