    // Color Variables

    $main-white: #FFF;
    $secondary-gray: #C0C0C0;
    $button-blue: #167BF7;
    $background-color: #00030C;


    // Fonts

    $main-font: 'Inter', sans-serif;


    // Functions

    @mixin container {
        height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    @mixin container-button {
        background-color: $button-blue;
        border-radius: 5px;
        padding: 1em;
        color: $main-white;
        display: block;
        text-decoration: none;
        margin-bottom: 1em;
    }